/*
 * GitHub Mobile Site
 */

$bg-color: #f5f5f5;
$text-color: #555;

.reponav-wrapper {
	background-color: $bg-color !important;
	border-bottom: 1px solid #e5e5e5 !important;

	.reponav-item {
		color: $text-color !important;
	}
}
