/*
 * GitHub Mobile Site
 */

@import './colors';

header {
	.octicon {
		color: $text-color !important;
	}

	button.btn-link.js-details-target,
	details.details-reset {
		&:hover {
			.octicon-three-bars {
				color: #4078c0 !important;
			}
		}
	}
}

.reponav-wrapper {
	background-color: $bg-color !important;
	border-bottom: 1px solid #e5e5e5 !important;

	.reponav-item {
		color: $text-color !important;
	}
}
