/*
 * GitHub Desktop Site
 */

@import './colors';

// Variables
$pseudo-placeholders: '-webkit-input-placeholder', '-moz-placeholder',
	'-ms-input-placeholder', 'placeholder';

header {
	color: $text-color !important;
	border-bottom: 1px solid #e5e5e5 !important;
	background-color: $bg-color !important;

	svg.octicon.octicon-mark-github {
		color: $text-color !important;
		transition: color 0.2s ease-in-out 0s;

		&:hover,
		&:focus {
			color: $link-color !important;
		}
	}

	.text-white {
		color: $text-color !important;
	}

	.HeaderMenu-link,
	.HeaderNavlink {
		color: $text-color !important;
		transition: color 0.2s ease-in-out 0s;

		.icon-chevon-down-mktg {
			stroke: $text-color !important;
		}
		&:hover,
		&:focus {
			&,
			& .octicon {
				color: $link-color !important;
			}

			.icon-chevon-down-mktg {
				stroke: $link-color !important;
			}
		}
	}

	.notification-indicator {
		color: $text-color !important;
		transition: color 0.2s ease-in-out 0s;

		&:hover .octicon {
			color: $link-color !important;
		}
		.mail-status {
			border-color: #f3f3f3 !important;
		}
	}

	.header-search-wrapper {
		min-height: 0 !important;
		font-size: 14px !important;
		color: $text-input-color !important;
		background-color: #fff !important;
		border: 1px solid #ddd !important;
		box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075) !important;

		&.focus {
			background-color: #fff !important;
			box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075),
				0 0 5px rgba(81, 167, 232, 0.5) !important;
			border-color: #2188ff !important;

			.header-search-scope {
				color: $link-color !important;
				background-color: #edf2f9 !important;
				border-right-color: #c6d7ec !important;
			}
		}
		.jump-to-suggestions {
			border: 1px solid #2188ff !important;
			box-sizing: content-box !important;
		}
	}

	.header-search-input {
		color: $text-input-color !important;

		@each $pseudo-placeholder in $pseudo-placeholders {
			&::#{$pseudo-placeholder} {
				color: $placeholder-color !important;
			}
		}
	}
}

.page-responsive .HeaderMenu--logged-out .header-search-input {
	@each $pseudo-placeholder in $pseudo-placeholders {
		&::#{$pseudo-placeholder} {
			color: $placeholder-color !important;
		}
	}
}

#user-links {
	.Header-link {
		color: $text-color !important;
	}
}
