/*
 * GitHub Mobile Site
 */

$bg-color: #F5F5F5;
$text-color: #555;

.reponav-wrapper {
	background-color: $bg-color !important;
	border-bottom: 1px solid #E5E5E5 !important;

	.reponav-item {
		color: $text-color !important;
	}
}
