/*
 * GitHub Desktop Site
 */

// Variables
$text-color: #555;
$text-input-color: #333;
$link-color: #4078C0;
$placeholder-color: #999;
$pseudo-placeholders: '-webkit-input-placeholder', '-moz-placeholder', '-ms-input-placeholder', 'placeholder';
$nav-item-underline-color: #6a737d;

.header {
	border-bottom: 1px solid #E5E5E5 !important;
	background-color: #F5F5F5 !important;

	.header-logo-invertocat, .header-logo-wordmark {
		color: $text-color !important;

		&:hover {
			color: $link-color !important;
		}
	}

	.header-navlink {
		color: $text-color !important;

		&:hover, &:focus {
			color: $link-color !important;

			.dropdown-caret {
				border-top-color: $link-color !important;
			}
		}
	}

	.notification-indicator .mail-status {
		border-color: #f3f3f3 !important;
	}

	.header-search {
		font-size: 14px !important;
	}

	.form-control.header-search-wrapper {
		line-height: 21px !important;
	}

	.header-search-scope {
		font-size: 12px !important;
		line-height: 20px !important;
		color: #767676 !important;
		border-right-color: #EEE !important;
	}

	.header-search-wrapper {
		min-height: 0 !important;
		font-size: 14px !important;
		color: $text-input-color !important;
		background-color: #FFF !important;
		border: 1px solid #DDD !important;
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075) !important;

		&.focus {
			background-color: #FFF !important;
			box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5) !important;
			border-color: #51A7E8 !important;

			.header-search-scope {
				color: $link-color !important;
				background-color: #EDF2F9 !important;
				border-right-color: #C6D7EC !important;
			}
		}
	}

	.header-search-input {
		min-height: 26px !important;
		font-size: 14px !important;
		color: $text-input-color !important;

		@each $pseudo-placeholder in $pseudo-placeholders {
			&::#{$pseudo-placeholder} {
				color: $placeholder-color !important;
			}
		}
	}
}

// For Features, Business, Explore, Marketplace, Pricing pages
.site-header.light {
	border-bottom: 1px solid #E5E5E5 !important;
	background-color: #F5F5F5 !important;

	.octicon.octicon-mark-github {
		color: $text-color !important;
	}

	.site-header-nav {
		.nav-item {
			color: $text-color !important;

			&.selected {
				border-bottom-color: $nav-item-underline-color;
			}

			&:not(.selected) {
				&::before {
					content: '';
					background-color: $nav-item-underline-color;
					position: absolute;
					width: 100%;
					height: 3px;
					left: 0;
					bottom: 0;
					transform: scaleX(0);
					transition: transform .3s ease-in-out 0s;
				}
				&:hover::before {
					transform: scaleX(1);
				}
			}
		}
	}

	.header-search-wrapper {
		color: $text-input-color !important;
		background-color: #FFF !important;
		border: 1px solid #DDD !important;
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075) !important;
	}

	.header-search-input {
		color: $text-input-color !important;

		@each $pseudo-placeholder in $pseudo-placeholders {
			&::#{$pseudo-placeholder} {
				color: $placeholder-color !important;
			}
		}
	}

	.site-header-link {
		color: $text-color !important;
	}
}
