/*
 * GitHub Mobile Site
 */
.nav-bar {
	background-color: #F5F5F5 !important;
	color: #555 !important;

	.header-button {
		color: #555 !important;

		// Disable Firefox button outline
		&::-moz-focus-inner {
			border: 0 !important;
		}
	}
	.nav-bar-title-text {
		.octicon {
			color: #555 !important;
		}
		.text-white {
			color: #555 !important;
		}
	}
	.nav-bar-tabs {
		background-color: white !important;
		border: 1px solid rgba(27,31,35,0.15) !important;

		a {
			color: #24292E !important;
		}
	}
}

.reponav-wrapper {
	background-color: #F5F5F5 !important;
	border-bottom: 1px solid #E5E5E5 !important;

	.reponav-item {
		color: #555 !important;
	}
}
